# backend-python/.env
MONGO_URI=your_mongodb_connection_string
ANTHROPIC_API_KEY=your_anthropic_key_here
AWS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_SECRET_KEY=YOUR_AWS_SECRET_KEY
GOOGLE_CREDENTIALS_JSON=path/to/google-service-account.json